<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >
<head>
    <style>
        label {
            background-color: #eee;
            padding: 4px;
        }

        .feedbackPanelERROR
        {
            color: red;
        }
    </style>
</head>
<body>
<h1>Java tests</h1>

<div wicket:id="registerMember"></div>

<table cellspacing="0" wicket:id="table">[table]</table>

<br>

<div wicket:id="registerGroup"></div>

<table cellspacing="0" wicket:id="membersGroupTable">[table]</table>

</body>
</html>